body {
  display: flex;
  flex-wrap: wrap;
  font-family: fantasy;
  font-size: large;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 7em;
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-shadow: 10px 4px 0px white, 20px 5px 0px rgb(107, 107, 107);
}

button {
  display: block;
  margin: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  background-color: black;
}

.hidden {
  display: none;
}

#end{
  position: absolute;
  top: 50%;
  left: 30%;
}

#timer {
  position: absolute;
  top: 25px;
  right: 30px;
}

#highscore {
  position: absolute;
  top: 10px;
  left: 20px;
  border: none;
  background-color: rgb(211, 211, 211);
  font-size: large;
  font-family: fantasy;
}

#highscore:hover {
  cursor: pointer;
  color: rgb(73, 73, 73);
  transition: 0.5s;
}

#start {
  margin-left: 50%;
  margin-top: 5%;
  border: none;
  background-color: rgb(211, 211, 211);
  font-family: fantasy;
  height: 50px;
  width: 80px;
  font-size: larger;
}

#start:hover {
  cursor: pointer;
  transition: 1.5s;
  color: white;
  background-color: black;
}

#hide {
  display: block;
  margin-top: 15%;
}

#home {
  position: absolute;
  bottom: 15%;
  left: 55%;
  background-color: rgb(211, 211, 211);
  font-family: fantasy;
  height: 50px;
  width: 80px;
  font-size: larger;
  border: none;
}

#home:hover {
  cursor: pointer;
  transition: 1.5s;
  color: white;
  background-color: black;
}


#clear {
  position: absolute;
  bottom: 15%;
  left: 40%;
  background-color: rgb(211, 211, 211);
  font-family: fantasy;
  height: 60px;
  width: 115px;
  font-size: larger;
  border: none;
}

#clear:hover {
  cursor: pointer;
  transition: 1.5s;
  color: white;
  background-color: black;
}

#submit {
  position: absolute;
  background-color: rgb(211, 211, 211);
  font-family: fantasy;
  font-size: large;
  border: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 30px;
}


#submit:hover {
  cursor: pointer;
  transition: 1.5s;
  color: white;
  background-color: black;
}
